/* About button css */
.btn{
    background-color: crimson;
}
.btn:hover{
    background-color: crimson;
}
.h3{
    color: crimson;
}
.btn-expand-on-hover {
    transition: transform 0.3s ease;
  }
  
  .btn-expand-on-hover:hover {
    transform: scale(1.2); /* Expand by 20% on hover */
  }

  /* styles.css */

  /* YourComponent.css */
.image{
    height: 25rem;
    width: 25rem;
    border-radius: 30% 45% 55% 40%;
    animation:pandaimg 3s infinite ;
    z-index: 20;
    translate: 0 0;
}
@keyframes pandaimg {
    50% {box-shadow: 5px 5px 10px 5px crimson;}
    50% {translate: 5px -5px;}
  }

  .image {
    transition: transform 0.2s ease;
  }
  
  .image:hover {
    transform: scale(1.1); /* Expand by 10% on hover */
  }
  